@model MatchesGame.Models.GameViewModel

@{
    ViewBag.Title = "Matches Game";
}

<h2>Matches Game</h2>
<div id="FirstPlayer">@Model.PlayerOne</div>
<div id="SecondPlayer">@Model.PlayerTwo</div>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <div id="Matches" class="row"></div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div id="Turn">@Model.PlayerOne Turn</div>
            </div>

            <div class="row">
                <button id="Take1" type="button" class="btn btn-primary">Take 1</button>
                <button id="Take2" type="button" class="btn btn-primary">Take 2</button>
                <button id="Take3" type="button" class="btn btn-primary">Take 3</button>
            </div>

            <div class="row">
                <button id="Reset" type="button" class="btn btn-danger">Reset</button>
                <button type="button" class="btn btn-warning">@Html.ActionLink("Options","Index")</button>
            </div>
        </div>
    </div>
</div>

